/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (min-width: 100.98px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 19px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 15px;
    }

    .bannar-left h2.cursive-words {
        font-size: 56px;
        text-align: center;
    }

    .bannar-left h2.title {
        text-align: center;
        margin-bottom: 25px;
    }

    .bottm-section {
        border-bottom: 2px solid;
        border-right: none;
        margin: 10px auto;
        align-items: center;
        padding-left: 40px;
        padding-bottom: 15px;
        justify-content: flex-start;
    }

    .journey-text {
        margin-bottom: 50px;
    }

    .journey-video {
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 80px;
    }

    form.subscribe-form {
        display: block;
    }

    .subs-form {
        margin: 17px 0px;
        padding: 9px 15px;
    }

    .subscribe-text h4 {
        font-weight: 800;
    }

    .upper-footer-part {
        padding: 10px 0px;
    }

    .display-flex {
        display: block;
    }

    .footer-social {
        justify-content: center;
    }

    footer .footer-link nav.navbar.navbar-expand-lg.navbar-expand-lg {
        justify-content: center;
    }

    .copyright-text {
        text-align: center;
    }

}


/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (min-width: 375.98px) {

    .container {
        max-width: 450px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 19px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 15px;
    }

    .bannar-left h2.cursive-words {
        font-size: 50px;
        text-align: center;
    }

    .bannar-left h2.title {
        text-align: center;
        margin-bottom: 25px;
    }

    .bottm-section {
        border-bottom: 2px solid;
        border-right: none;
        margin: 10px auto;
        align-items: center;
        padding-left: 40px;
        padding-bottom: 15px;
        justify-content: flex-start;
    }
    iframe {
        height: 315px;
    }
    .journey-text {
        margin-bottom: 50px;
    }

    .journey-video {
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 80px;
    }

    form.subscribe-form {
        flex-wrap: wrap;
    }

    .subs-form {
        margin: 17px 0px;
        padding: 9px 15px;
    }

    .subscribe-text h4 {
        font-weight: 800;
    }

    .upper-footer-part {
        padding: 10px 0px;
    }

    .display-flex {
        display: block;
    }

    .footer-social {
        justify-content: center;
    }

    footer .footer-link nav.navbar.navbar-expand-lg.navbar-expand-lg {
        justify-content: center;
    }

    .copyright-text {
        text-align: center;
    }



}




/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 575.98px) {

    .container {
        max-width: 540px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 21px;
    }

    h5 {
        font-size: 19px;
    }

    h6 {
        font-size: 17px;
    }
    .bannar-left h2.cursive-words {
        font-size: 58px;
        text-align: center;
    }

    
    .bottm-section {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        border-right: 2px solid;
        border-bottom: none;
        padding-left: 0;
        padding-bottom: 0;
    }
    iframe {
        height: 360px;
    }
    .journey-text {
        margin-bottom: 50px;
    }
    .journey-video {
        margin-bottom: 20px;
    }
    .heading-h2 h2 {
        margin-bottom: 0;
    }
    form.subscribe-form {
        flex-wrap: wrap;
    }
    .subs-form {
        margin: 17px 0px;
        padding: 9px 15px;
    }
    .footer-social {
        justify-content: center;
    }
    footer .footer-link nav.navbar.navbar-expand-lg.navbar-expand-lg {
        /* padding: 8px 0px; */
        padding:  0px;
        justify-content:space-between ;
    }
    footer .footer-link ul.navbar-nav {
        display: contents;
    }
    footer .footer-link li.nav-item {
        margin: 3px 10px 3px 0px;
    }
    .copyright-text {
        text-align: center;
    }
    
     





}

/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (min-width: 767.98px) {

    .container {
        max-width: 720px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 31px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 21px;
    }

    h6 {
        font-size: 19px;
    }
    .bannar-left h2.cursive-words {
        font-size: 65px;
        text-align: center;
    }
    .bottm-section {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        border-right: 2px solid;
        border-bottom: none;
        padding-left: 0;
        padding-bottom: 15px;
    }

    section.parking-section {
        background-position: 0 130px;
    }
    .heading-h2 h2 {
        margin-bottom: 50px;
    }
    form.subscribe-form {
        display: flex;
        flex-wrap: nowrap;
    }
    .subs-form {
        margin: 0px 15px;
    }
.slider .all-slider .first-slider img {
    height: 160px;
}
    .upper-footer-part {
        padding: 22px 0px;
    }

}




/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) {

    .container {
        max-width: 960px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 27px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 21px;
    }
    .bannar-left h2.cursive-words {
        font-size: 70px;
        text-align: center;
    }
    iframe {
        height: 220px;
    }
    .card {
        text-align: center;
        padding: 25px;
        margin: 0px;
        border-radius: 10px;
        min-height: 260px;
    }
    .card-text p {
        line-height: 22px;
    }
    .upper-footer-part {
        padding: 0px;
    }

    footer .footer-link ul.navbar-nav {
        display: flex;
        /* display: contents; */
    }





}



/*  `xl` applies to large devices (desktops, less than 1200px) */

@media (min-width: 1199.98px) {

    .container {
        max-width: 1140px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 31px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 25px;
    }

    h6 {
        font-size: 23px;
    }

    .card-text p {
        line-height: 30px;
    }
    .card {
        min-height: 289px;
    }
    .display-flex {
        display: flex;
    }
    .upper-footer-icon.margin {
        margin-right: 10px;
    }
   
    .card {
        text-align: center;
        padding: 25px;
        margin: 20px;
        border-radius: 10px;
        min-height: 300px;
    }
    .upper-footer-part {
        padding: 0px;
    }

    footer .footer-link nav.navbar.navbar-expand-lg.navbar-expand-lg {
        padding: 0px;
        justify-content: space-around;
    }
    footer .footer-link ul.navbar-nav {
        display: contents;
    }




}


/* `xxl` applies to x-large devices (large desktops, less than 1400px) */

@media (min-width: 1399.98px) {

    .container {
        max-width: 1320px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 25px;
    }

    h6 {
        font-size: 24px;
    }


    .card {
        min-height: 260px;
    }
    .display-flex {
        display: flex;
    }
    .upper-footer-icon.margin {
        margin-right: 40px;
    }
    
    .card {
        text-align: center;
        padding: 25px;
        margin: 20px;
        border-radius: 10px;
        min-height: 272px;
    }
    .upper-footer-part {
        padding: 0px;
    }


}